/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background-color: whitesmoke;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-spacer {
  flex-grow: 1;
}

.bold {
  font-weight: bold !important;
}
